.wrapper
{
	height: 660px;
	width: 1350px;
	/*background-color:#8dbdeb*/;
}
header
{
	height: 50px;
	width: 1364px;
	background-color: black;
}
section
{
	height: 560px;
	width: 1364px;
	background-color: #8dbdeb;
}